@import url('https://fonts.cdnfonts.com/css/asap-condensed');

html {
    scroll-behavior: smooth;
  }

body {
    /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  */
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Aggiungiamo un'opacità al background */
    backdrop-filter: blur(10px);
    z-index: 100; /* Assicuriamoci che il menu sia sopra gli altri contenuti */
  }

  .logo {
    font-size: 24px;
    background-color: transparent;
   padding-left: 20px;
    margin-top: 20px;
  }

  .logo img {
    height: 56px;
  }
  
/* Stile per la sezione hero */
nav a.active {
    color: #cb1616 !important; /* Colora di rosso il testo del link attivo */
  }
  
.hero-image {
    /* Resto del codice CSS per la hero image come prima */
    position: relative; /* Aggiungi il posizionamento relativo alla hero image */
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* Aggiungiamo l'ombra */
      border-radius: 25px;
  }
  
  .hero-content {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    /*transform: translate(50%, 50%); /* Regola la posizione del contenitore al centro dell'immagine */
    max-width: 800px;
    text-align: center;
    color: #ffffff;
    text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    
    z-index: 1; /* Assicurati che il contenitore sia sopra l'immagine di copertina */
  }

  .hero-text-container {
    max-width: 800px;
    text-align: center;
    color: #f9f9f9;
    z-index: 1; /* Assicurati che il contenitore sia sopra l'immagine di copertina */
   /* Regola questa proprietà in base alle tue preferenze per il posizionamento verticale del testo */
  }
  
  /* Stile per il menu */
  nav {
    position: absolute;
    top: 24px;
    right: 20px;
    background-color: transparent; /* Rimuovi lo sfondo del menu */
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
  }

  nav ul li a:hover {
    color: red;
  }

  nav a {
    color: #17384a;
    text-decoration: none;
    font-weight: lighter;
    font-size: 20px;
  }
  
  nav a.contatti-button {
    background-color: rgba(255, 0, 64, 0.7);
    color: rgb(255, 255, 255);
    /* Il gradiente va dal blu (#007BFF) al viola (#6A0DAD) da sinistra a destra */
    padding: 12px 24px;
    border-radius: 25px;
    font-weight: 400;
     border:none;
  }

  nav a.contatti-button:hover {
    background-color: rgba(229, 86, 122);
    color: rgb(255, 194, 194);
    /* Il gradiente va dal blu (#007BFF) al viola (#6A0DAD) da sinistra a destra */
    padding: 12px 24px;
    border-radius: 25px;
    font-weight: 400;
    border:none;
  }

main {
  margin-top: 60px;
    padding: 20px;
    min-height: calc(100vh - 150px); /* Altezza minima del contenuto principale per spingere il footer in basso */
  }
/* 
  .hero-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .hero-content h1 {
    font-size: 36px;
    color: #ffffff;
  
  }
 
  
  .hero-content p {
    font-size: 18px;
    color: #cccccc;
    margin-top: 20px;
  } */
  
  .cta-button {
    display: inline-block;
    background-color: rgba(255, 0, 64, 0.7);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 22px 24px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 35px;
    border: none;
  }
  
  .cta-button:hover {
    background-color: rgba(217, 52, 94, 0.986);
}


.hidden-section {
  display: flex;
  justify-content: center;
}

.container-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  
}

.container {
  margin: 20px;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 0px;
  margin-top: 30px;
    /* flex: 1 1 calc(33.33% - 20px); */
  max-width: 450px;
  height: 250px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); 

  border-radius: 25px;
  padding: 30px;
}

/* Imposta il massimo numero di elementi affiancati orizzontalmente a due */
/* .container-group .container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  max-width: 450px; 
  margin: 0 auto;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); 
  justify-content: space-evenly;

} */

/* Stile per la sezione con i 6 container consecutivi */
#scrollToContent {
    display: flex;
    flex-wrap: wrap;
    scroll-margin: 400px;
  }
  
/* Stile per il nuovo contenitore con video e testo */
/* .content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
    
  } */


  .video-container {
    flex: 1;
    max-width: 500px;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .video-container video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  

  .icon-container {
    flex: 1;
    max-width: 100px;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .icon-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-container {
    flex: 1; 
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -20px;
    /* align-items:flex-start;
    border-radius: 8px; */
    text-align: justify;

  }
  
  .text-container h2 {
    font-size: 24px;
    color: #f9005f;
  }
  
  .text-container p {
    font-size: 18px;
    color: #666;
  }
  
 
/* Stile per il footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #e6e6e6b2;
    backdrop-filter: blur(10px);
    color: #616161;
    padding: 3px;

  }

  .footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }

  .golinelli-logo {
    width: auto; /* Regola la larghezza del logo come preferisci */
    height: 40px; /* Imposta l'altezza in modo che l'immagine mantenga le proporzioni originali */
   margin-left: 20px;
  }

  .new-logo {
    width: auto; /* Regola la larghezza del logo come preferisci */
    height: 45px; /* Imposta l'altezza in modo che l'immagine mantenga le proporzioni originali */
    margin-right: 20px; /* Aggiungi spazio tra il nuovo logo e il logo esistente */
  }

/* Stile per il testo del footer */
.footer-text {
    flex: 1; /* Fai sì che il testo occupi tutto lo spazio disponibile, spingendo il logo a destra */
  }


/* Stile per la galleria */
.gallery {
    display: flex;
    overflow: hidden; /* Nasconde i contenuti oltre il bordo della galleria */
    position: relative;
    height: 800px; /* Altezza della galleria */
    border-radius: 25px;
  }
  
  .gallery-item {
    width: 100%;
    height: 100%;
    flex-shrink: 0; /* Evita che gli elementi della galleria si restringano */
    transition: transform 0.3s ease; /* Animazione per scorrere tra i contenuti */
   
  }
 
  
/* Aggiungi gradiente trasparente scuro in basso e trasparente in cima alla galleria */
.gallery::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8) );
  z-index: 1; /* Assicurati che il gradiente sia sopra la galleria */
}

  .gallery-item img,
  .gallery-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.new-container {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: #f9005f;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  z-index: 1;
}

  
/* Stile per la griglia */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Due colonne di larghezza uguale */
    gap: 80px; /* Spazio tra i contenitori */
    padding-bottom: 100px;
    max-width: 1200px; /* Larghezza massima della griglia */
    margin: 20px auto; /* Centra la griglia nella pagina */

  }
  
  .grid-item {
    display: flex;
    flex-direction: column; /* Organizza i contenuti in colonna */
    justify-content: center; /* Allinea i contenuti al centro verticalmente */
    align-items: center; /* Allinea i contenuti al centro orizzontalmente */
    padding: 20px;
    
    background-color: #ffffff;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); 

    border-radius: 15px;
    
  }
  
  /* Stile per i video all'interno dei contenitori */
  .grid-item video {
    width: 100%;
    max-height: auto;
/*border-radius: 15px ; /* Angoli arrotondati solo nella parte superiore */
    object-fit: cover;
}
  
  /* Stile per le descrizioni testuali */
  .description {
    flex: 1; /* Fai sì che la descrizione occupi tutto lo spazio rimanente */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    
    /*border-radius:  15px; /* Angoli arrotondati solo nella parte inferiore */
  }
  
  .description h2 {
    font-size: 24px;
    color: #f9005f;
  }
  
  .description p {
    font-size: 18px;
    color: #727272;
    margin-top:-15px;
    text-align: justify;
  }
  
  /*sezione download */


  /* Stile per la sezione Download */
/* Stile per la sezione Download */
.download-container-wrapper {
  display: flex;
  justify-content: center; /* Allinea orizzontalmente al centro */
  align-items: center; /* Allinea verticalmente al centro */
  height: 100vh; /* Imposta l'altezza del contenitore a 100% della viewport (altezza della finestra del browser) */
}
.download-section {
  padding: 20px;
  margin-top: -250px;
  
}

/* Stile per i container dei download */
.download-container {
  margin-bottom: 30px;
  background-color: #f2f2f2;
  padding: 25px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 250px auto; /* Colonne della griglia per l'icona e il contenuto */
  grid-gap: 10px; /* Spazio tra le colonne */
  align-items: stretch;
}

/* Stile per il titolo del container */
.container-title {
  display: flex;
  align-items: center;
  justify-content: left; /* Allinea orizzontalmente al centro */
  margin-bottom: 20px;
}

.container-title h2 {
  margin: 0;
  margin-right: 0px;
}

/* Stile per le icone identificative */
.icon {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
}

.icon img {
  width: 50px;
  height: 50px;

}

/* Stile per la tabella */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 130px;


}

table th, table td {
  padding: 28px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  
}

/* Stile per il pulsante di download */
.download-button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.download-button:hover {
  background-color: #0056b3;
}

/* Aggiungi spazio tra le tabelle */
table + table {
  margin: 20px;
  
}

.changelog {
  font-size: small;
  font-style: italic;
  font-weight: 100;
  text-align: left;
}


/*pagina contatti*/

.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  
}

.team-member {
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

.team-member img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  
}

.team-member h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.team-member p {
  font-size: 16px;
  color: #666;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.contact-icons img {
  border-radius: 0%;
}
.contact-icons a {
  margin: 0 5px;
}

.contact-icons img {
  width: 30px;
  height: 30px;
}

/* Stile già presente nel tuo CSS */

.pricing-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.pricing-table th,
.pricing-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.pricing-table .toggle-cell.hidden {
  display: none;
}